*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hina Mincho';
}

a {
    text-decoration: none;
}

a
html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
}