*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hina Mincho';
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.logo a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 30px;
    margin-left: 50px;
}

.menu ul {
    margin-left: 190px;
}

.menu ul li {
    display: inline-block;
    margin-right: 35px;
    cursor: pointer;
    align-items: center;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500px;
    letter-spacing: 1px;
}

.header .contact-info {
    color: white;
    margin-left: 400px;
}

.header .contact-info ul{
    margin-left: 41px;
}

.header .contact-info ul li {
    display: inline-block;
}

.header .contact-info ul li a {
    color: white;
    font-size: 15px;
    transition: all 0.3s;
}

.header .contact-info ul li a:hover {
    color: #c32865;
}

.header .contact-info ul li a.sep {
    margin: 0 28px;
    opacity: 0.3;
}

.banner {
    position: absolute;
    top: 35%;
    left: 0;
    color: white;
}

.app-text {
    padding-left: 440px;
}

.app-text h1 {
    color: white;
    font-size: 80px;
    position: relative;
    margin-top: 30px;
    font-weight: 700;
    line-height: 1.3;
}

.app-text h1 span {
    color: #c32865
}

.app-text p {
    font-size: 19px;
    margin: 30px 30px 30px 0;
    letter-spacing: 1px;
    color: white;
    padding-right: 250px;
    line-height: 1.5;
    letter-spacing: 3px;
}

.btn-group {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.primary-btn::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 1px;
    border-top: 1px solid white;
    top: 88%;
    left: 0;
}

.play-btn {
    display: flex;
    align-items: center;
    transition: all 0.3s;
}

.play-btn:hover .play-btn-inner i,
.play-btn:hover span {
    color: #c32865;
    transition: all 0.5s;
    border-color: #c32865;
}

.btn-group span {
    font-size: 20px;
    margin-left: 24px;
    color: white;
    cursor: pointer;
}

.play-btn-inner i {
    color: white;
    font-size: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding-left: .25rem;
    border: 1px solid white;
    cursor: pointer;
    transition: border-color 0.3s ease-out;
    -webkit-transition: border-color .3s ease-out;
    border-radius: 50%;
}

.social-icons {
    position: absolute;
    right: 50px;
    bottom: 2%;
}

.social-icons ul li {
    width: 50px;
    height: 50px;
    display: inline-block;
}

