*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hina Mincho';
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.logo a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 30px;
    margin-left: 50px;
}

.menu ul {
    margin-left: 190px;
}

.menu ul li {
    display: inline-block;
    margin-right: 35px;
    cursor: pointer;
    align-items: center;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500px;
    letter-spacing: 1px;
}

.header .contact-info {
    color: white;
    margin-left: 400px;
}

.header .contact-info ul{
    margin-left: 41px;
}

.header .contact-info ul li {
    display: inline-block;
}

.header .contact-info ul li a {
    color: white;
    font-size: 15px;
    transition: all 0.3s;
}

.header .contact-info ul li a:hover {
    color: #c32865;
}

.header .contact-info ul li a.sep {
    margin: 0 28px;
    opacity: 0.3;
}

